* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
  }
  h1{
    padding: 10px;
    height: 2em;
    margin: 0;
  }
  #chatBox{
    position: absolute;
    width: 20vw;
    right: 0px;
    bottom: 0px;
    height: calc(90% - 20px);
    background-color: rgb(68, 68, 68);
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
  }
  #time{height: 5%;color: white;font-weight: bold;}
  #chatMess {
    position: relative;
    height: 85%;
    overflow: auto;
    overflow-wrap: break-word;
    color:white;
  }
  #chatMess p {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
  input {
    font-size: 1rem;
    padding: 0.25rem;
    width: 100%;
    height: 100%;
  }
  /* .user-pointer{
    position:fixed;
    transition: all .25s;
  } */
  .user-avatar{
    width: 16px;
    height: 16px;
    position:fixed;
    transition: all .25s;
    background-color: black;
  }
  .user-avatar>p{
    text-align: center;
  }
  form{
    position: relative;
    height: 10%;
  }
#game{
  position: relative;
  background-color: black;
  padding: 20px;
}
#playground{
  height: 704px;
  width: 1472px;
  background-image: url('../img/landscape.png');
  background-size:cover;
  background-repeat: no-repeat;
}